.bgImage {
  background-image: url("/src/image/backgroundImage.jpg");
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_form {
  width: 512px;
  height: auto;
  padding: 60px;
  border-radius: 40px;
  background-color: white;
  z-index: 2;
  margin-top: 80px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 130vh;
  background: #33333399; /* Adjust the opacity as needed */
  z-index: 1;
}

.ant-select-selection-item {
  color: black !important;
}
