.view-all-button {
  display: flex;
  left: 975px;
  margin: -50px 0 0 0;
  bottom: 16px;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #a9b489;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
