.header{
    height: 116px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute; 
    z-index: 100;
    width: 100%;
}
.header-menu{
    background-color: transparent;

}
:where(.css-dev-only-do-not-override-14qglws).ant-menu .ant-menu-title-content{
    color: #ddd;
}
:where(.css-dev-only-do-not-override-14qglws).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    border: 0px;
    background-color: transparent;
    color: #ddd !important;
    overflow: visible;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.content {
    flex: 1;
  }

/* Footer styles */
.footer {
    height: 648px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .footer-content {
    width: 1419px;
    height: 340px;
    padding-block: 33px;
    border-block: 1px solid #5f5c5c;
    display: flex;
    gap: 60px;
  }
  .vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .home-header .ant-menu .ant-menu-title-content {
    color: #fff;
}

.home-login-button {
  color: black;
}